*{
    margin: 0;
    padding: 0;
}

body{
    width: 80%;
    margin-left: 150px;
}

.btn{
    background: rgb(104, 7, 96);
    border-radius: 10px;
    
}

.btn:hover{
    background: rgb(155, 8, 143);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
}
























































